@mixin productBox {
  .productBox {
    height: auto;
    display: block;
    cursor: pointer;
    margin-bottom: 80px;
    margin-bottom: 30px;

    .productImage {
      position: relative;
      margin-bottom: 20px;
      display: block;
      overflow: hidden;

      .productMasking {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(71, 186, 193, 0.9);
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        ul {
          position: absolute;
          top: 50%;
          left: 50%;
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 157px;
          height: 42px;

          li {
           padding: 0 4px;

           a {
             width: 42px;
             height: 42px;
             padding: 0;
             text-align: center;
             border: 3px solid rgba(255, 255, 255, 0.6);
             border-radius: 0px;
             background-color: transparent;
             line-height: 36px;
             -webkit-transition: all 0.3s ease-in-out;
             -moz-transition: all 0.3s ease-in-out;
             -ms-transition: all 0.3s ease-in-out;
             -o-transition: all 0.3s ease-in-out;
             transition: all 0.3s ease-in-out;

             i {
               -webkit-transition: all 0.3s ease-in-out;
               -moz-transition: all 0.3s ease-in-out;
               -ms-transition: all 0.3s ease-in-out;
               -o-transition: all 0.3s ease-in-out;
               transition: all 0.3s ease-in-out;
               font-size: 14px;
               color: #ffffff;
             }
           }

           a:hover {
             background-color: #ffffff;
             border-color: #ffffff;

             i {
               color: #47bac1;
             }
           }
         }
       }
     }

      img {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      width: 100%;
      }
    }

    .productImage:hover img {
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    .productCaption {
      width: 100%;
      display: block;

      h5 {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }

      h3 {
        color: #c5c5c5;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
  }

  .productBox:hover .productMasking {
    opacity: 1;

    ul {
      -webkit-animation: itemMove 0.3s linear;
      animation: itemMove 0.3s linear;
    }
  }
}

.mainContent {
  background-color: #ffffff;

  .featuredProducts {
    @include productBox;

    .thumbnail {
      cursor: pointer;

      .imageWrapper {
        position: relative;
        width: 100%;
        overflow: hidden;

        .masking {
          opacity: 1;

          .viewBtn {
            width: 196px;
            min-height: 55px;
            border: 3px solid #ffffff;
            text-transform: uppercase;
            font-weight: 700;
            color: #ffffff;
            font-size: 16px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            box-shadow: 0;
            border-radius: 0;
            padding: 0;
            line-height: 55px;
          }

          .viewBtn:hover {
            background-color: #ffffff;
            color: #47bac1;
          }
        }

        img {
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          width: 100%;
        }
      }

      .caption h4 {
        margin-bottom: 0;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }

    .thumbnail:hover {
      .imageWrapper {
          img {
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }

        .viewBtn {
          -webkit-animation: itemMove 0.3s linear;
          animation: itemMove 0.3s linear;
        }
      }

      .caption h4 {
        color: #47bac1;
      }
    }
  }
}

@media (min-width: 480px)  {
  .mainContent .featuredProducts .swiper-slide .productImage {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 479px) {
  .mainContent {
    padding: 40px 0 40px 0;
  }
}

@media (min-width: 480px) {
  .mainContent {
    padding: 90px 0 0 0;
  }
}

@media (min-width: 768px) {
  .mainContent {
    padding: 90px 0 60px 0;
  }
}

@media (max-width: 479px) {
  .mainContent .featuredCollection .thumbnail {
    margin-bottom: 40px!important;
  }
}

@media (min-width: 480px) {
  .mainContent .featuredCollection .thumbnail {
    margin-bottom: 40px!important;
  }
}

@media (min-width: 768px) {
  .mainContent .featuredCollection .thumbnail {
    margin-bottom: 88px;
  }
}
