* {
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #252525;
  font-weight: 400;
}

p {
  font-size: 12px;
  color: #252525;
  font-weight: 400;
  line-height: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
  color: #252525;
  margin-top: 0;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 25px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.btn {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  padding: 9px 0;
  outline: 0!important;
}

.container {
  width: 100%;
}

@media (min-width: 480px)  {
  .container {
    width: 450px;
  }
}

@media (min-width: 768px)  {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px)  {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px)  {
  .container {
    width: 1170px;
  }
}

a {
  color: #d9d9d9;
  text-decoration: none!important;
}

a:hover, a:focus {
  color: #a7a7a7;
  outline: 0;
}

.media-left, .media>.pull-left {
  float: left!important;
}

.header {
  background-color: #ffffff;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}



@media (min-width: 768px)  {
  .navbar-default.navbar-fixed-top {
    margin-bottom: 31px;

    .navbar-collapse {
      padding: 0;

      li a {
        padding: 20px 15px 20px;
      }
    }
  }
}

.navbar-default.navbar-fixed-top .navbar-header .navbar-brand {
    margin-top: 0;
}

@media (min-width: 480px)  {
  .navbar-default.navbar-fixed-top .navbar-header .navbar-brand {
    margin-top: 10px;
  }
}

.padding-top {
    padding-top: 57px;
}

@media (min-width: 768px)  {
  .padding-top {
    padding-top: 91px;
  }
}

.navbar-fixed-top {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    .navbar-brand {
      width: 197px;
      height: 31px;
      -webkit-transition: height 0.3s, width 0.3s;
      -moz-transition: height 0.3s, width 0.3s;
      -ms-transition: height 0.3s, width 0.3s;
      -o-transition: height 0.3s, width 0.3s;
      transition: height 0.3s, width 0.3s;
    }
}

.navbar-brand {
    width: auto;
    height: auto;
    -webkit-transition: height 0.3s, width 0.3s;
    -moz-transition: height 0.3s, width 0.3s;
    -ms-transition: height 0.3s, width 0.3s;
    -o-transition: height 0.3s, width 0.3s;
    transition: height 0.3s, width 0.3s;

    img {
      max-width: 100%;
    }
}

.navbar-default {
  background-color: #ffffff;
  margin-bottom: 0;
  border: none;

  .container {
    position: relative;
  }

  .navbar-header {
    .navbar-toggle {
      background-color: #47bac1;
      border-radius: 0;
      border: none;
      padding: 9px 8px;
      margin-right: 20px;
      margin-top: 11px;

      .icon-bar {
        background-color: #ffffff;
        width: 24px;
        height: 4px;
      }
    }

    .navbar-brand {
      display: inline-block;
    }
  }

  .navbar-collapse {
    background: #ffffff;

    li {
      a {
        font-size: 14px;
        color: #252525;
        text-transform: uppercase;
        font-weight: 700;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      a:hover, .navbar-default .navbar-collapse li a.focus, .navbar-default .navbar-collapse li a:focus {
        color: #47bac1;
      }
    }

    li.dropdown .dropdown-menu {
      box-shadow: none;
      margin-top: 0!important;

      li {
        a {
          font-weight: 300;
          padding: 10px 25px!important;
          text-transform: capitalize;
          width: 100%;
          color: #252525;
          float: left;
        }

        a:hover {
          color: #47bac1;
        }
      }
    }

    li.active {
      a {
        background-color: transparent;
        color: #47bac1;
      }

      a:focus, a:hover {
        background-color: transparent;
        color: #47bac1;
      }
    }

    li.active.dropdown {
      .dropdown-menu li {
        a {
          color: #252525;
        }

        a:hover {
          color: #47bac1;
        }
      }
    }

    li.dropdown.open {
      a:hover, a:focus {
        background-color: transparent;
        color: #47bac1;
      }

      .dropdown-menu {
        box-shadow: none;
        border-radius: 0;
        margin-top: 0!important;
        min-width: 200px;
        display: block;

        li a {
          padding: 10px 25px!important;
          font-weight: 300;
          text-transform: capitalize;
          width: 100%;
          float: left;
        }
      }
    }
  }
}

.navbar-default .navbar-nav>.open>a {
    background-color: transparent;
    color: #47bac1;
}
.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #47bac1;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu {
    position: static;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu {
    right: 15px;
    margin-top: -5px;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled {
    width: 100%;
    float: left;
}

@media (min-width: 480px)  {
  .navbar-default .navbar-header .navbar-brand {
    padding: 0 15px;
    margin-top: 10px;
  }
}
@media (min-width: 768px)  {
  .navbar-default .navbar-header .navbar-brand {
    padding: 0 15px;
    margin-top: 27px;
  }
}

@media (max-width: 479px)  {
  .navbar-default .navbar-collapse {
    max-height: 250px;
  }
}

@media (min-width: 480px)  {
  .navbar-default .navbar-collapse {
    max-height: 250px;
  }
}

@media (min-width: 768px)  {
  .navbar-default .navbar-collapse {
    height: auto;
    float: right;
    padding: 18px 0 0;
  }
}

@media (min-width: 480px)  {
  .navbar-default .navbar-collapse li a {
    padding: 6px 15px;
  }
}

@media (min-width: 768px)  {
  .navbar-default .navbar-collapse li a {
    padding: 20px 15px 33px;
  }
}

@media (max-width: 479px)  {
  .navbar-default .navbar-collapse li.dropdown .dropdown-menu {
    position: relative;
    width: 100%;
    float: left;
    border: 0;
    display: block;
  }
}

@media (min-width: 480px)  {
  .navbar-default .navbar-collapse li.dropdown .dropdown-menu {
    position: relative;
    width: 100%;
    float: left;
    border: 0;
    display: block;
  }
}

@media (min-width: 768px)  {
  .navbar-default .navbar-collapse li.dropdown .dropdown-menu {
    position: absolute;
    float: left;
    border: 1px solid #ececec;
    display: none;
  }
}

@media (max-width: 479px)  {
  .navbar-default .navbar-collapse li.dropdown.open .dropdown-menu li a {
    padding: 10px 12px 10px 0;
  }
}

@media (min-width: 480px)  {
  .navbar-default .navbar-collapse li.dropdown.open .dropdown-menu li a {
    padding: 10px 12px 10px 0;
  }
}

@media (min-width: 768px)  {
  .navbar-default .navbar-collapse li.dropdown.open .dropdown-menu li a {
    padding: 6px 12px 6px 30px;
    font-size: 11px;
  }
}
@media (min-width: 992px)  {
  .navbar-default .navbar-collapse li.dropdown.open .dropdown-menu li a {
    padding: 10px 12px 10px 30px;
    font-size: 14px;
  }
}

@media (max-width: 479px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu {
    left: 0;
    padding: 0;
  }
}

@media (min-width: 480px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu {
    left: 0;
    padding: 0;
  }
}

@media (min-width: 768px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu {
    left: 0;
    right: 0;
    padding: 10px 5px 0;
    top: auto;
  }
}

@media (max-width: 479px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled {
    padding-bottom: 10px;
  }
}

@media (min-width: 480px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled {
    padding-bottom: 10px;
  }
}

@media (min-width: 768px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled {
    padding-bottom: 40px;
  }
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.listHeading, .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li:first-child {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  color: #c9c9c9;
  float: left;
}

@media (max-width: 479px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.listHeading, .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li:first-child {
    padding: 10px 12px 10px 0;
  }
}

@media (min-width: 480px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.listHeading, .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li:first-child {
    padding: 10px 12px 10px 0;
  }
}

@media (min-width: 768px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.listHeading, .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li:first-child {
    padding: 10px 12px 10px 25px;
  }
}

@media (max-width: 479px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li a {
    padding: 10px 25px 10px 10px!important;
  }
}

@media (min-width: 480px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li a {
    padding: 10px 25px 10px 10px!important;
  }
}

@media (min-width: 768px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li a {
    padding: 10px 25px!important;
  }
}

@media (max-width: 479px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu a.menu-photo img {
    width: 100%;
  }
}

@media (min-width: 480px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu a.menu-photo img {
    width: 100%;
  }
}

@media (min-width: 768px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu a.menu-photo img {
    width: 100%;
  }
}

@media (min-width: 992px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu a.menu-photo img {
    width: auto;
  }
}

@media (max-width: 479px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu a.menu-photo {
    padding: 0 0 26px 0!important;
  }
}

@media (min-width: 480px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu a.menu-photo {
    padding: 0 0 26px 0!important;
  }
}

@media (min-width: 768px)  {
  .navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu a.menu-photo {
    padding: 26px 0 0 0!important;
  }
}

.footer {
    display: block;
    width: 100%;
    padding: 38px 0;
    background-color: #252525;
    border-top: 8px solid #47bac1;
}
@media (max-width: 479px)  {
    .footer .footerLink {
    text-align: center;
    margin-bottom: 25px;
}
}
@media (min-width: 480px)  {
    .footer .footerLink {
    text-align: center;
    margin-bottom: 25px;
}
}
@media (min-width: 768px)  {
    .footer .footerLink {
    text-align: left;
    margin-bottom: 0;
}
}
.footer .footerLink h5 {
    color: #5f5f5f;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.footer .footerLink ul li {
    color: #acacac;
    font-size: 12px;
    line-height: 20px;
}
.footer .footerLink ul li a {
    color: #acacac;
    font-size: 12px;
    line-height: 20px;
}
.footer .footerLink ul li a:hover {
    color: #7a7a7a;
}
.footer .newsletter {
    display: block;
    text-align: center;
}
@media (min-width: 480px)  {
    .footer .newsletter {
    float: none;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 75%;
}
}
@media (min-width: 768px)  {
    .footer .newsletter {
    float: right;
    margin-bottom: 0;
    width: 90%;
}
}
@media (min-width: 992px)  {
    .footer .newsletter {
    width: 75%;
}
}
.footer .newsletter h4 {
    color: #5f5f5f;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.footer .newsletter h3 {
    color: #acacac;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer .newsletter p {
    color: #acacac;
}
.footer .newsletter .input-group {
    display: block;
    width: 100%;
}
.footer .newsletter .input-group .form-control, .footer .newsletter .input-group .input-group-addon {
    display: inline-block;
    float: left;
    margin-right: 2%;
    border-radius: 0;
    border: none;
    background-color: #3b3b3b;
    height: 35px;
    line-height: 35px;
    padding: 0 14px;
    font-size: 12px;
    color: #999999;
}
.footer .newsletter .input-group .form-control:focus, .footer .newsletter .input-group .input-group-addon:focus {
    box-shadow: none;
}
@media (max-width: 479px)  {
    .footer .newsletter .input-group .form-control, .footer .newsletter .input-group .input-group-addon {
    width: 73%;
}
}
@media (min-width: 480px)  {
    .footer .newsletter .input-group .form-control, .footer .newsletter .input-group .input-group-addon {
    width: 73%;
}
}
@media (min-width: 768px)  {
    .footer .newsletter .input-group .form-control, .footer .newsletter .input-group .input-group-addon {
    width: 63%;
}
}
@media (min-width: 992px)  {
    .footer .newsletter .input-group .form-control, .footer .newsletter .input-group .input-group-addon {
    width: 73%;
}
}
.footer .newsletter .input-group .input-group-addon {
    margin-right: 0;
    height: 35px;
    padding: 0;
    line-height: 29px;
    border: 3px solid #47bac1;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 479px)  {
    .footer .newsletter .input-group .input-group-addon {
    width: 25%;
}
}
@media (min-width: 480px)  {
    .footer .newsletter .input-group .input-group-addon {
    width: 25%;
}
}
@media (min-width: 768px)  {
    .footer .newsletter .input-group .input-group-addon {
    width: 35%;
}
}
@media (min-width: 992px)  {
    .footer .newsletter .input-group .input-group-addon {
    width: 25%;
}
}
.footer .newsletter .input-group .input-group-addon i {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #47bac1;
}
@media (min-width: 480px)  {
    .footer .newsletter .input-group .input-group-addon i {
    margin-left: 7px;
}
}
@media (min-width: 768px)  {
    .footer .newsletter .input-group .input-group-addon i {
    margin-left: 3px;
}
}
@media (min-width: 992px)  {
    .footer .newsletter .input-group .input-group-addon i {
    margin-left: 7px;
}
}
.footer .newsletter .input-group .input-group-addon:hover {
    background-color: #47bac1;
    border-color: #47bac1;
    color: #ffffff;
}
.footer .newsletter .input-group .input-group-addon:hover i {
    color: #ffffff;
}

.copyRight {
    display: block;
    width: 100%;
    min-height: 53px;
    background-color: #101010;
}
.copyRight p {
    color: #acacac;
    margin-bottom: 0;
}
@media (max-width: 479px)  {
    .copyRight p {
    text-align: center;
    line-height: 45px;
    font-size: 8px;
}
}
@media (min-width: 480px)  {
    .copyRight p {
    text-align: center;
    line-height: 45px;
    font-size: 12px;
}
}
@media (min-width: 768px)  {
    .copyRight p {
    text-align: left;
    line-height: 53px;
}
}
@media (max-width: 479px)  {
    .copyRight ul {
    text-align: center;
}
}
@media (min-width: 480px)  {
    .copyRight ul {
    text-align: center;
}
}
@media (min-width: 768px)  {
    .copyRight ul {
    text-align: right;
}
}
.copyRight ul li a {
    display: block;
    line-height: 53px;
    font-size: 14px;
}

.swiper-container {
    width: 100%;
    height: 100%;

}
.swiper-slide {
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
        color:#fff;
        background: #47bac1;
    }

@import './topbar.scss';
@import './mainContent.scss';
